USE [master]
GO
/****** Object:  Database [Practica_2]    Script Date: 09/04/2018 11:46:22 a. m. ******/
CREATE DATABASE [Practica_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Practica_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Practica_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica_2]
GO
USE [Practica_2]
GO
/****** Object:  Table [dbo].[CuentaBanco]    Script Date: 09/04/2018 11:46:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentaBanco](
	[id_cuenta] [int] NOT NULL,
	[balance] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 09/04/2018 11:46:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[calle] [varchar](50) NOT NULL,
	[numero_casa] [int] NOT NULL,
	[municipio] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_casa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 09/04/2018 11:46:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[nombre_persona] [varchar](50) NULL,
	[apellido_materno] [varchar](50) NULL,
	[apellido_paterno] [varchar](50) NULL,
	[curp] [varchar](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[curp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Redes_sociales]    Script Date: 09/04/2018 11:46:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Redes_sociales](
	[correo_electronico] [varchar](30) NOT NULL,
	[usuario_instagram] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[correo_electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 09/04/2018 11:46:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CUENTABANCO_BALANCENOMBRE]    Script Date: 09/04/2018 11:46:22 a. m. ******/
CREATE NONCLUSTERED INDEX [IDX_CUENTABANCO_BALANCENOMBRE] ON [dbo].[CuentaBanco]
(
	[id_cuenta] ASC,
	[balance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DIRECCION_CALLEMUNICIPIO]    Script Date: 09/04/2018 11:46:22 a. m. ******/
CREATE NONCLUSTERED INDEX [IDX_DIRECCION_CALLEMUNICIPIO] ON [dbo].[Direccion]
(
	[calle] ASC,
	[municipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_PERSONA_NOMBREPERSONA]    Script Date: 09/04/2018 11:46:22 a. m. ******/
CREATE NONCLUSTERED INDEX [IDX_PERSONA_NOMBREPERSONA] ON [dbo].[Persona]
(
	[nombre_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_REDES_CORREOUSUARIO]    Script Date: 09/04/2018 11:46:22 a. m. ******/
CREATE NONCLUSTERED INDEX [IDX_REDES_CORREOUSUARIO] ON [dbo].[Redes_sociales]
(
	[correo_electronico] ASC,
	[usuario_instagram] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_USUARIO_IDNOMBRE]    Script Date: 09/04/2018 11:46:22 a. m. ******/
CREATE NONCLUSTERED INDEX [IDX_USUARIO_IDNOMBRE] ON [dbo].[Usuario]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_USUARIO_NOMBRE]    Script Date: 09/04/2018 11:46:22 a. m. ******/
CREATE NONCLUSTERED INDEX [IDX_USUARIO_NOMBRE] ON [dbo].[Usuario]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
