USE [Practica_3]
GO
/****** Object:  Table [dbo].[Visitas]    Script Date: 09/04/2018 01:20:04 a. m. ******/
DROP TABLE [dbo].[Visitas]
GO
/****** Object:  Table [dbo].[planta]    Script Date: 09/04/2018 01:20:04 a. m. ******/
DROP TABLE [dbo].[planta]
GO
/****** Object:  Table [dbo].[PacienteCama]    Script Date: 09/04/2018 01:20:04 a. m. ******/
DROP TABLE [dbo].[PacienteCama]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 09/04/2018 01:20:04 a. m. ******/
DROP TABLE [dbo].[Paciente]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 09/04/2018 01:20:04 a. m. ******/
DROP TABLE [dbo].[Medico]
GO
/****** Object:  Table [dbo].[HistorialClinico]    Script Date: 09/04/2018 01:20:04 a. m. ******/
DROP TABLE [dbo].[HistorialClinico]
GO
/****** Object:  Table [dbo].[Cama]    Script Date: 09/04/2018 01:20:04 a. m. ******/
DROP TABLE [dbo].[Cama]
GO
USE [master]
GO
/****** Object:  Database [Practica_3]    Script Date: 09/04/2018 01:20:04 a. m. ******/
DROP DATABASE [Practica_3]
GO
/****** Object:  Database [Practica_3]    Script Date: 09/04/2018 01:20:04 a. m. ******/
CREATE DATABASE [Practica_3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica_3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Practica_3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica_3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Practica_3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica_3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica_3]
GO
USE [Practica_3]
GO
/****** Object:  Table [dbo].[Cama]    Script Date: 09/04/2018 01:20:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cama](
	[id_cama] [int] NOT NULL,
	[numPiso] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cama] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialClinico]    Script Date: 09/04/2018 01:20:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialClinico](
	[idhistorialclinico] [int] NULL,
	[numeroSeguro] [int] NOT NULL,
	[FechaEntrada] [datetime] NULL,
	[FechaAlta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[numeroSeguro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 09/04/2018 01:20:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[idMedico] [int] NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 09/04/2018 01:20:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[idNumeroSeguro] [int] NULL,
	[curp] [varchar](18) NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[fechaNacimiento] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PacienteCama]    Script Date: 09/04/2018 01:20:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PacienteCama](
	[id_PacienteCama] [varchar](50) NOT NULL,
	[fecha_Ingreso] [datetime] NULL,
	[cama] [int] NULL,
	[historialclinico] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_PacienteCama] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[planta]    Script Date: 09/04/2018 01:20:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planta](
	[nombre] [varchar](50) NULL,
	[idplanta] [int] NULL,
	[numeroCamas] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitas]    Script Date: 09/04/2018 01:20:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitas](
	[fechaVisita] [datetime] NULL,
	[Enfermedad] [varchar](50) NULL,
	[Medico] [int] NULL,
	[PacienteCama] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cama] ([id_cama], [numPiso]) VALUES (31298, 7)
INSERT [dbo].[Cama] ([id_cama], [numPiso]) VALUES (51876, 4)
INSERT [dbo].[Cama] ([id_cama], [numPiso]) VALUES (52146, 2)
INSERT [dbo].[HistorialClinico] ([idhistorialclinico], [numeroSeguro], [FechaEntrada], [FechaAlta]) VALUES (79488, 6666, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2002-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[HistorialClinico] ([idhistorialclinico], [numeroSeguro], [FechaEntrada], [FechaAlta]) VALUES (41258, 44444, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2002-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[HistorialClinico] ([idhistorialclinico], [numeroSeguro], [FechaEntrada], [FechaAlta]) VALUES (58829, 48588, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2002-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Medico] ([idMedico], [nombre], [apellido]) VALUES (70707, N'Daniel', N'Meza')
INSERT [dbo].[Medico] ([idMedico], [nombre], [apellido]) VALUES (84579, N'Daniel', N'Meza')
INSERT [dbo].[Medico] ([idMedico], [nombre], [apellido]) VALUES (78954, N'Daniel', N'Meza')
INSERT [dbo].[Paciente] ([idNumeroSeguro], [curp], [nombre], [apellido], [fechaNacimiento]) VALUES (58989, N'FEYP000606HASRZD00', N'Franco', N'Escamilla', CAST(N'1991-01-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Paciente] ([idNumeroSeguro], [curp], [nombre], [apellido], [fechaNacimiento]) VALUES (12545, N'AACJ000606HDFLRN08', N'Pedro', N'Aleman', CAST(N'1992-02-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Paciente] ([idNumeroSeguro], [curp], [nombre], [apellido], [fechaNacimiento]) VALUES (13345, N'AECJ940429HCHRRS01', N'Fernando', N'Martinez', CAST(N'1993-03-22T00:00:00.000' AS DateTime))
INSERT [dbo].[PacienteCama] ([id_PacienteCama], [fecha_Ingreso], [cama], [historialclinico]) VALUES (N'2', CAST(N'1990-01-01T00:00:00.000' AS DateTime), 11, 40)
INSERT [dbo].[PacienteCama] ([id_PacienteCama], [fecha_Ingreso], [cama], [historialclinico]) VALUES (N'20', CAST(N'1990-01-01T00:00:00.000' AS DateTime), 9, 40)
INSERT [dbo].[PacienteCama] ([id_PacienteCama], [fecha_Ingreso], [cama], [historialclinico]) VALUES (N'3', CAST(N'1990-01-01T00:00:00.000' AS DateTime), 14, 50)
INSERT [dbo].[planta] ([nombre], [idplanta], [numeroCamas]) VALUES (N'pedro', 1, 560)
INSERT [dbo].[planta] ([nombre], [idplanta], [numeroCamas]) VALUES (N'Daniel Eliseo', 1000, 200)
INSERT [dbo].[planta] ([nombre], [idplanta], [numeroCamas]) VALUES (N'pedro', 43, 500)
INSERT [dbo].[Visitas] ([fechaVisita], [Enfermedad], [Medico], [PacienteCama]) VALUES (CAST(N'2018-01-02T00:00:00.000' AS DateTime), N'cancer', 91, 50)
INSERT [dbo].[Visitas] ([fechaVisita], [Enfermedad], [Medico], [PacienteCama]) VALUES (CAST(N'2018-01-02T00:00:00.000' AS DateTime), N'sida', 19, 50)
INSERT [dbo].[Visitas] ([fechaVisita], [Enfermedad], [Medico], [PacienteCama]) VALUES (CAST(N'2018-01-02T00:00:00.000' AS DateTime), N'cancer', 81, 50)
USE [master]
GO
